body {
    font-family: Arial, sans-serif;
    background: url('../imges/background.webp') no-repeat center center/cover;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    width: 400px;
    padding: 30px;
    background: #002244;
    box-shadow: -1px 1px 20px 20px rgb(44 14 237 / 20%);
    border-radius: 94px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .auth-container h2 {
        margin-bottom: 20px;
        color: white;
        font-size: 24px;
        font-weight: bold;
    }

    .auth-container input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .auth-container button {
        width: 100%;
        padding: 12px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

        .auth-container button:hover {
            background: #0056b3;
        }

.toggle-link {
    margin-top: 15px;
    display: block;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .toggle-link:hover {
        color: #0056b3;
    }
