body {
    font-family: Arial, sans-serif;
    background: url('../imges/egy2.png') no-repeat center center/cover;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.auth-container {
    width: 400px;
    padding: 30px;
    background: #1e2a3a;
    box-shadow: -1px 1px 20px 20px rgba(30, 42, 58, 0.4);
    border-radius: 94px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #2e4060;
}

    .auth-container h2 {
        margin-bottom: 20px;
        color: #c8d4e0;
        font-size: 24px;
        font-weight: bold;
    }

    .auth-container input {
        width: 100%;
        padding: 12px;
        margin: 10px 0;
        border: 1px solid #2e4060;
        border-radius: 5px;
        font-size: 16px;
        background-color: #253447;
        color: #c8d4e0;
    }

    .auth-container button {
        width: 100%;
        padding: 12px;
        background: #4a6080;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition: background 0.3s ease;
    }

        .auth-container button:hover {
            background: #7a95b0;
        }

.toggle-link {
    margin-top: 15px;
    display: block;
    color: #c8d4e0;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .toggle-link:hover {
        color: #7a95b0;
    }
