body {
    font-family: Arial, sans-serif;
    background: #301e8f;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 600px;
    background: #6e62b2;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color:black;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

#map {
    height: 300px;
    margin-bottom: 15px;
    border-radius: 6px;
}
